.presentation-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.presentation__text-card {
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5em;
    gap: 1em;

}

.presentation__img-card {
    width: 100%;
}

.presentation__img-card img {
    width: 100%;
    height: 100%;
}

.presenation__text-card-title {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-grayish-blue);
    font-size: 2.1rem;
    font-weight: 900;
}

.presentation__text-card-text-content {
    color: var(--dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
    line-height: 1.5rem;
    text-align: justify;
}

.presentation__text-card-button,
.presentation__text-card-button-red {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.presentation__text-card-button::after,
.presentation__text-card-button-red::after {
    content: "";
    height: 7px;
    background-color: var(--yellow);
    width: 7.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    opacity: 50%;
    z-index: 1;
}

.presentation__text-card-button:hover::after,
.presentation__text-card-button-red:hover::after {
    opacity: 80%;

}


.presentation__text-card-button-red::after {
    background-color: var(--soft-red);
}

.presentation__background-card-graphic-design {
    background: url(../assets/images/desktop/image-graphic-design.jpg);

}

.presentation__background-card-photography {
    background: url(../assets/images/desktop/image-photography.jpg);
}

.presentation__background-card-photography,
.presentation__background-card-graphic-design {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    gap: 2em;
    padding: 2em 4em 1.8em 4em;
    color: var(--very-dark-grayish-blue);
}


.presentation__background-card-title {
    font-family: 'Fraunces', serif;
    letter-spacing: 1px;
}

.presentation__background-card-text-content {
    font-family: 'Barlow', sans-serif;
    line-height: 1.5rem;
    opacity: 0.7;


}

@media screen and (max-width:953px) {
    .presentation-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .presentation__img-card:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .presentation__text-card {
        text-align: center;

    }

    .presentation__text-card-button::after,
    .presentation__text-card-button-red::after {
        left: 30.6%;

    }
}